.nav-wrapper {
    background-color: #2874f0;
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    color: white;
    padding: 0 2rem;
    box-sizing: border-box;
    position: sticky;
    top: 0rem;
}

.nav-search {
    width: 30rem;
    height: 36px;
    padding: 0px 1rem;
    border-radius: 2px 0 0 2px;
    border: 0;
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}

.nav-logo {
    width: 3rem;
    height: 3rem;
}

.shop-cart-img {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-cart {
    width: 8rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.nav-link {
    color: white;

}

a {
    text-decoration: none !important;
}